@font-face {
    font-family: 'Archangelsk';
    src: url('../fonts/archangelsk-webfont.eot');
    src: url('../fonts/archangelsk-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archangelsk-webfont.woff2') format('woff2'),
    url('../fonts/archangelsk-webfont.woff') format('woff'),
    url('../fonts/archangelsk-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rexlia';
    src: url('../fonts/rexlia.eot');
    src: url('../fonts/rexlia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/archangelsk-webfont.woff2') format('woff2'),
    url('../fonts/rexlia.woff') format('woff'),
    url('../fonts/rexlia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}