@font-face {
    font-family: 'Led Board';
    src: url(../fonts/tabel/led_board-7-webfont.eot);
    src: url(../fonts/tabel/led_board-7-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/tabel/led_board-7-webfont.woff2) format('woff2'), url(../fonts/tabel/led_board-7-webfont.woff) format('woff'), url(../fonts/tabel/led_board-7-webfont.ttf) format('truetype'), url(../fonts/tabel/led_board-7-webfont.svg#../fonts/tabel/led_board-7regular) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/helvetica/HelveticaNeueLTPro-BdCn.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica/HelveticaNeueLTPro-BdCn.otf) format('opentype'), url(../fonts/helvetica/HelveticaNeueLTPro-BdCn.woff) format('woff'), url(../fonts/helvetica/HelveticaNeueLTPro-BdCn.ttf) format('truetype'), url(../fonts/helvetica/HelveticaNeueLTPro-BdCn.svg#../fonts/helvetica/HelveticaNeueLTPro-BdCn) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Rockwell;
    src: url(../fonts/rockwell/Rockwell.eot?#iefix) format('embedded-opentype'), url(../fonts/rockwell/Rockwell.woff) format('woff'), url(../fonts/rockwell/Rockwell.ttf) format('truetype'), url(../fonts/rockwell/Rockwell.svg#Rockwell) format('svg');
    font-weight: 400;
    font-style: normal
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
html {
    min-width: 1900px;
    height: 100%;
    width: 100%;
    min-height: 950px;
    background: #000
}
body {
    font-family: "Helvetica Neue";
    font-weight: 400;
    color: #bfded5
}
a {
    color: #9ba7b0
}
a:hover {
    color: #a9b4bb
}
.img-center {
    margin: 0 auto;
    display: block;
    float: none
}
.img-full {
    width: 100%
}
.btn {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.roulette-content {
    display: block;
    float: left
}
.right-panel {
    position: relative;
    background: url(../img/tabs/right-panel.png);
    background-size: cover;
    width: 266px;
    display: block;
    float: left
}
.right-panel .tabel {
    background: #0e1112;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 0;
    bottom: 270px;
    padding-bottom: 40px
}
.right-panel .tabel .tabel-holder {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%
}
.right-panel .tabel .tabel-holder .tabel-container {
    padding-bottom: 10px
}
.right-panel .tabel .ps-scrollbar-x-rail,
.right-panel .tabel .ps-scrollbar-y-rail {
    border-radius: 0;
    background: 0 0!important
}
.right-panel .tabel:before {
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    bottom: 0;
    background: #000
}
.right-panel .tabel:after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    left: 49.9%;
    top: 0;
    bottom: 0;
    background: #0a0a0a
}
.right-panel .tabel ul {
    list-style: none;
    padding: 3px 14px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.right-panel .tabel ul:after,
.right-panel .tabel ul:before {
    content: " ";
    display: table
}
.right-panel .tabel ul:after {
    clear: both
}
.right-panel .tabel ul li {
    width: 51%;
    display: block;
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Led Board"
}
.right-panel .tabel ul li.red {
    color: red;
    float: left
}
.right-panel .tabel ul li.black {
    color: green;
    float: right
}
.right-panel .wheel {
    background: url(../img/wheel/wheel.png);
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    bottom: 135px;
    left: 50%;
    margin-left: -100px
}
.right-panel .wheel .center {
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 7px;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    border-radius: 50%;
    background-color: #7eb105;
    box-shadow: inset 1.5px 2.6px 5px 0 rgba(214, 251, 68, .392);
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.right-panel .wheel .center:hover {
    text-decoration: none;
    background-color: #6a9600;
    box-shadow: inset 1.5px 2.6px 5px 0 rgba(155, 194, 0, .392)
}
.right-panel .wheel .center:active {
    background-color: #6a9600;
    box-shadow: inset 0 0 5px 0 #000
}
.right-panel .wheel .center p {
    margin-bottom: 0
}
.right-panel .wheel .center p.take {
    font-size: 26px
}
.right-panel .wheel .center p.take span {
    font-size: 12px;
    position: relative;
    top: -6px
}
.right-panel .bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0
}
.right-panel .bottom .time {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px
}
.right-panel .bottom .timer {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background: url(../img/tabs/timer.png) center no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    text-align: center
}
.right-panel .bottom .connection {
    padding: 10px 0;
    text-align: center
}
.right-panel .bottom .connection .label-div {
    display: inline;
    font-size: 10px;
    color: #7e949d
}
.right-panel .bottom .connection .status {
    position: relative;
    display: inline;
    color: #92c50c;
    font-size: 10px;
    padding-left: 30px;
    text-transform: uppercase
}
.right-panel .bottom .connection .status:before {
    width: 23px;
    height: 22px;
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 2px;
    background: url(../img/tabs/online.png)
}
.bottom-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #252d31
}
.bottom-panel .tabs {
    height: 52px;
    background: url(../img/tabs/top-bar.png);
    border-bottom: solid 2px #e1cd40;
    z-index: 12;
    position: relative
}
.bottom-panel .tabs .nav {
    margin-top: 2px
}
.bottom-panel .tabs .nav li {
    margin-right: -10px;
    position: relative;
    float: left!important
}
.bottom-panel .tabs .nav li:nth-child(1) {
    z-index: 6
}
.bottom-panel .tabs .nav li:nth-child(2) {
    z-index: 5
}
.bottom-panel .tabs .nav li:nth-child(3) {
    z-index: 4
}
.bottom-panel .tabs .nav li:nth-child(4) {
    z-index: 3
}
.bottom-panel .tabs .nav li:nth-child(5) {
    z-index: 2
}
.bottom-panel .tabs .nav li:nth-child(6) {
    z-index: 1
}
.bottom-panel .tabs .nav li:hover {
    z-index: 7
}
.bottom-panel .tabs .nav li a {
    color: #fff;
    background-image: url(../img/tabs/tab.png);
    font-size: 15px;
    text-align: center;
    display: block;
    width: 152px;
    height: 48px;
    padding: 14px 16px;
    font-weight: 700;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.bottom-panel .tabs .nav li a:hover,
.bottom-panel .tabs .nav li.active a {
    background: url(../img/tabs/tab-h.png);
    color: #ddd634
}
.bottom-panel .tabs .nav li a:active,
.bottom-panel .tabs .nav li a:focus {
    background-color: transparent
}
.table {
    color: #fff;
    margin: 0;
    background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, .36863) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .36863) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, .36863) 0, rgba(0, 0, 0, 0) 100%);
    box-shadow: .5px .87px 1px 0 rgba(0, 0, 0, .329)
}
.table tr {
    border: 1px solid #000
}
.table tr th {
    background-color: #1c2325;
    text-align: center;
    background-image: -moz-linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 100%);
    font-size: 12px;
    color: #4f616a;
    text-transform: uppercase;
    border-color: #000!important
}
.table tr td {
    border-left: none!important;
    border-right: none!important;
    text-align: center;
    border-color: #000!important;
    font-weight: 400
}
.status-bar {
    position: relative;
    height: 41px;
    padding: 6px 10px;
    background: url(../img/tabs/top-bar.png)
}
.status-bar .server-time {
    padding: 5px 10px;
    background: rgba(0, 0, 0, .2);
    color: #7e949d;
    float: left;
    border-radius: 5px;
    box-shadow: .5px .87px 1px 0 rgba(255, 255, 255, .329)
}
.status-bar .pager {
    display: block;
    margin: 5px auto
}
.status-bar .pager select {
    color: #000;
    background: rgba(255, 255, 255, .5)
}
.status-bar .next-button {
    float: right;
    position: absolute;
    right: 30px;
    top: 2px
}
@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite
}
.content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 280px;
    top: 0
}
.content .roulette {
    position: absolute;
    top: -120px;
    left: 6%;
    z-index: 12;
    width: 40%;
    max-width: 533px;
    max-height: 533px
}
.content .roulette .roulette-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    z-index: 1234;
    border-radius: 50%
}
.content .roulette img {
    width: 100%
}
.content .roulette img.chicks,
.content .roulette img.numbers {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}
.content .buttons {
    bottom: 110px;
    position: absolute;
    width: 44%;
    left: 4%;
    z-index: 15;
    max-width: 586px
}
.content .buttons .chips {
    width: 365px;
    height: 30px;
    background: url(../img/roulette/chips.png);
    display: block;
    margin: 0 auto;
    padding-left: 28px;
    position: relative
}
.content .buttons .chips .chip {
    outline: 0!important;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: -40px;
    background-position: center;
    position: absolute
}
.content .buttons .chips .chip.to-remove {
    cursor: wait
}
.content .buttons .chips .chip.chip-1 {
    background-image: url(../img/chips/1.png);
    left: 28px
}
.content .buttons .chips .chip.chip-5 {
    background-image: url(../img/chips/5.png);
    left: 90px
}
.content .buttons .chips .chip.chip-10 {
    background-image: url(../img/chips/10.png);
    left: 152px
}
.content .buttons .chips .chip.chip-25 {
    background-image: url(../img/chips/25.png);
    left: 214px
}
.content .buttons .chips .chip.chip-100 {
    background-image: url(../img/chips/100.png);
    left: 276px
}
.content .buttons .btn-group {
    display: block;
    margin: 0 auto;
    width: 554px;
    background: #000;
    border: 2px solid #d5b922;
    border-radius: 20px;
    padding-left: 2px
}
.content .buttons .btn-group:after,
.content .buttons .btn-group:before {
    content: " ";
    display: table
}
.content .buttons .btn-group:after {
    clear: both
}
.content .buttons .btn-group .btn {
    font-size: 15px;
    font-family: Rockwell;
    padding-left: 29px;
    padding-right: 30px;
    font-weight: 700;
    background-color: #141c1f;
    box-shadow: inset 0 3px 14px rgba(255, 255, 255, .2)
}
.content .buttons .btn-group .btn span {
    color: #faf135;
    font-size: 10px;
    position: relative;
    top: -4px
}
.content .buttons .btn-group .btn:hover {
    background-color: #243034;
    color: #fff;
    box-shadow: inset 0 3px 14px rgba(255, 255, 255, .5)
}
.content .buttons .btn-group .btn.active,
.content .buttons .btn-group .btn:active {
    box-shadow: inset 0 3px 14px rgba(0, 0, 0, .5);
    padding-top: 7px;
    padding-bottom: 5px
}
.content .buttons .btn-group .btn.spin {
    background-color: #e23102;
    background-image: -moz-linear-gradient(-90deg, rgba(255, 233, 86, .56078) 0, rgba(255, 235, 82, .28) 17%, rgba(255, 238, 75, 0) 42%, rgba(255, 240, 71, .1) 59%, rgba(255, 244, 60, .2) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 233, 86, .56078) 0, rgba(255, 235, 82, .28) 17%, rgba(255, 238, 75, 0) 42%, rgba(255, 240, 71, .1) 59%, rgba(255, 244, 60, .2) 100%);
    background-image: -ms-linear-gradient(-90deg, rgba(255, 233, 86, .56078) 0, rgba(255, 235, 82, .28) 17%, rgba(255, 238, 75, 0) 42%, rgba(255, 240, 71, .1) 59%, rgba(255, 244, 60, .2) 100%)
}
.content .buttons .btn-group .btn.spin:hover {
    background-color: #ff3600;
    background-image: -moz-linear-gradient(-90deg, rgba(255, 209, 84, .6902) 0, rgba(255, 210, 84, .35) 17%, rgba(255, 212, 84, 0) 42%, rgba(255, 213, 84, .11) 59%, rgba(255, 217, 85, .21176) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 209, 84, .6902) 0, rgba(255, 210, 84, .35) 17%, rgba(255, 212, 84, 0) 42%, rgba(255, 213, 84, .11) 59%, rgba(255, 217, 85, .21176) 100%);
    background-image: -ms-linear-gradient(-90deg, rgba(255, 209, 84, .6902) 0, rgba(255, 210, 84, .35) 17%, rgba(255, 212, 84, 0) 42%, rgba(255, 213, 84, .11) 59%, rgba(255, 217, 85, .21176) 100%);
    box-shadow: inset 0 0 15px 6px #ffa515
}
.content .buttons .btn-group .btn.spin.active,
.content .buttons .btn-group .btn.spin:active {
    background-color: #e7210d;
    background-image: -moz-linear-gradient(-90deg, rgba(255, 168, 0, .23137) 0, rgba(255, 168, 0, .12) 17%, rgba(255, 168, 0, 0) 42%, rgba(255, 168, 0, .05) 59%, rgba(255, 168, 0, .1098) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 168, 0, .23137) 0, rgba(255, 168, 0, .12) 17%, rgba(255, 168, 0, 0) 42%, rgba(255, 168, 0, .05) 59%, rgba(255, 168, 0, .1098) 100%);
    background-image: -ms-linear-gradient(-90deg, rgba(255, 168, 0, .23137) 0, rgba(255, 168, 0, .12) 17%, rgba(255, 168, 0, 0) 42%, rgba(255, 168, 0, .05) 59%, rgba(255, 168, 0, .1098) 100%);
    box-shadow: inset 0 5px -12px 0 rgba(0, 0, 0, .3)
}
.content .buttons .btn-group .btn.pays {
    background-color: #075b31
}
.content .spin-expiry {
    background: url(../img/tabs/spin-expiry.png);
    width: 275px;
    height: 85px;
    display: block;
    margin: 0 auto;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.content .spin-expiry:hover {
    background: url(../img/tabs/spin-expiry-h.png)
}
.tab-contents {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 280px;
    top: 0
}
.tab-contents .tab-pane {
    position: absolute;
    width: 100%;
    height: 100%
}
.tab-contents .tab-pane img {
    width: 100%;
    height: 100%
}
header {
    background: #050607;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #10171a), color-stop(1, #050607));
    background: -ms-linear-gradient(bottom, #10171a, #050607);
    background: -moz-linear-gradient(center bottom, #10171a 0, #050607 100%);
    background: -o-linear-gradient(#050607, #10171a);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#050607', endColorstr='#10171a', GradientType=0);
    border-bottom: solid 2px #e1cd40;
    position: relative;
    z-index: 14
}
header .content {
    padding-top: 50px
}
header .container {
    width: 1500px!important
}
.window-height {
    position: relative
}
.top-bar {
    background: url(../img/tabs/top-bar.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    padding: 7px 0;
    z-index: 11
}
.top-bar .buttons {
    float: right;
    margin-right: 20px
}
.btn-group {
    background-color: #131b1e;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, .18);
    border-radius: 15px
}
.btn-group .btn {
    outline: 0!important;
    text-transform: uppercase;
    color: #fff;
    background: 0 0;
    border-color: #494d4a;
    margin: 1px;
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, .10196) 0, rgba(255, 255, 255, .05) 45%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, .05) 73%, rgba(255, 255, 255, .10196) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, .10196) 0, rgba(255, 255, 255, .05) 45%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, .05) 73%, rgba(255, 255, 255, .10196) 100%);
    background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, .10196) 0, rgba(255, 255, 255, .05) 45%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, .05) 73%, rgba(255, 255, 255, .10196) 100%);
    box-shadow: .5px .87px 3.4px .6px rgba(0, 0, 0, .251);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.btn-group .btn.active,
.btn-group .btn:hover {
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .04) 45%, rgba(255, 255, 255, .07059) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .04) 45%, rgba(255, 255, 255, .07059) 100%);
    background-image: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .04) 45%, rgba(255, 255, 255, .07059) 100%);
    color: #88e336;
    box-shadow: inset 0 -2px 3px -1px #88e336
}
.btn-group .btn.active [class^=icn-],
.btn-group .btn:hover [class^=icn-] {
    background-position-y: -22px
}
.btn-group .btn:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}
.btn-group .btn:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}
[class^=icn-] {
    background-image: url(../img/tabs/icons.png);
    background-repeat: no-repeat;
    content: "";
    display: block;
    width: 24px;
    height: 21px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
[class^=icn-].icn-cursor {
    background-position: 6px -1px
}
[class^=icn-].icn-view {
    background-position: -39px -1px
}
[class^=icn-].icn-plus {
    background-position: -104px 0
}
[class^=icn-].icn-minus {
    background-position: -149px 0
}
[class^=icn-].icn-fx {
    background-position: -226px 0
}
[class^=icn-].icn-eq {
    background-position: -301px 0
}
[class^=icn-].icn-sl {
    background-position: -345px 0
}
.navbar-menu {
    background: 0 0;
    padding-top: 30px;
    height: 82px
}
.navbar-menu .navbar-brand img {
    width: 320px
}
.navbar-menu .navbar-header {
    position: absolute;
    left: 10%
}
.navbar-menu .navbar-collapse {
    position: absolute;
    left: 50%;
    margin-left: -215px;
    bottom: -22px;
    width: 430px;
    padding: 0
}
.navbar-menu .navbar-collapse .navbar-nav {
    width: 100%
}
.navbar-menu .navbar-collapse .navbar-nav li {
    margin-right: -10px;
    position: relative
}
.navbar-menu .navbar-collapse .navbar-nav li:nth-child(1) {
    z-index: 3
}
.navbar-menu .navbar-collapse .navbar-nav li:nth-child(2) {
    z-index: 2
}
.navbar-menu .navbar-collapse .navbar-nav li:nth-child(3) {
    z-index: 1
}
.navbar-menu .navbar-collapse .navbar-nav li:hover {
    z-index: 5
}
.navbar-menu .navbar-collapse .navbar-nav li a {
    color: #fff;
    background-image: url(../img/tabs/tab.png);
    font-size: 13px;
    text-align: center;
    display: block;
    width: 152px;
    height: 48px;
    padding: 14px 16px;
    font-weight: 700;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.navbar-menu .navbar-collapse .navbar-nav li a:hover,
.navbar-menu .navbar-collapse .navbar-nav li.active a {
    background: url(../img/tabs/tab-h.png);
    color: #ddd634
}
.navbar-menu .navbar-collapse .navbar-nav li a:active,
.navbar-menu .navbar-collapse .navbar-nav li a:focus {
    background-color: transparent
}
.container {
    width: 1260px
}
@media (min-width: 1500px) {
    .container {
        width: 1450px
    }
}
@media (min-width: 1700px) {
    .container {
        width: 1650px
    }
}
@media (min-width: 1850px) {
    .container {
        width: 1800px
    }
}
.balance {
    width: 325px;
    height: 46px;
    background: url(../img/tabs/balance.png);
    position: absolute;
    right: 4%
}
.balance .label-div {
    font-size: 18px;
    color: #fff;
    padding: 8px 20px
}
.balance .label-div span {
    color: #ddd634
}
.balance .count {
    float: right;
    color: #88e336;
    font-size: 22px;
    position: absolute;
    top: 6px;
    right: 95px
}
.balance .btn-logout {
    padding: 7px 0;
    color: #fff;
    font-size: 13px;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 85px;
    height: 37px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    background-color: #141c1f;
    box-shadow: inset 0 3px 14px rgba(255, 255, 255, .2)
}
.balance .btn-logout:hover {
    background-color: #243034;
    color: #fff;
    box-shadow: inset 0 3px 14px rgba(255, 255, 255, .5)
}
.balance .btn-logout.active,
.balance .btn-logout:active {
    box-shadow: inset 0 3px 14px rgba(0, 0, 0, .5);
    padding-top: 8px;
    padding-bottom: 6px
}
.content .roulette img.ball {
    position: absolute;
    left: 254px;
    top: 254px;
    max-width: 26px;
    max-height: 26px;
}