/*noinspection ALL*/
:root {
    --primary-bg-color: #2B2A2F;
    --primary-fg-color: #9E9EA0;
    --up-txt-color: #8BD300;
    --down-txt-color: #F52223;
    --white-txt-color: #DADADA;
    --orange-txt-color: #FFAE00;
    --hovered-txt-color: #7AAF34;
    --section-bg-color: #17161A;
    --grey-btn-color: #131217;
    --grey-btn-txt-color: #67666D;
    --btnbar-grad-start: #323137;
    --btnbar-grad-end: #1B1A1E;
    --btn-grad-start: #3C3A42;
    --btn-grad-end: #121113;
    --btn-active-color:#131217;
    --led-green-bg-color: #5ECD24;
    --led-green-grad-start: #d2ff52;
    --led-green-grad-end: #91e842;
    --thin-border-highlite: #323138;
    --thin-border-shadow: #111113;
    --tbody-bg-color: #262529;
    --up-btn-grad-start:#7AB32B;
    --up-btn-grad-end:#385E08;
    --up-btn-border-top-color:#A4CB6D;
    --up-btn-border-bottom-color:#243504;
    --down-btn-grad-start:#DD2727;
    --down-btn-grad-end:#620101;
    --down-btn-border-top-color:#E96A6A;
    --down-btn-border-bottom-color:#3E0000;
    --ticker-up-color: #C60100;
    --ticker-down-color: #8BD300;
    --gold-grad-start: #FFFFCC;
    --gold-grad-mid: #FDF4AD;
    --gold-grad-end: #FADE71;
    --goldie-color: #FFF5A0;
}
