:root {
    --bigrndbtn-size: 150px;
    --bigrndbtn-first-div-size: 140px;
    --bigrndbtn-first-div-position: calc((var(--bigrndbtn-size) - var(--bigrndbtn-first-div-size))/2);
    --bigrndbtn-second-div-size: 120px;
    --bigrndbtn-second-div-position: calc(((var(--bigrndbtn-first-div-size) - var(--bigrndbtn-second-div-size))/2)-1);
    --bigrndbtn-third-div-size: 104px;
    --bigrndbtn-third-div-position: calc((var(--bigrndbtn-second-div-size) - var(--bigrndbtn-third-div-size))/2);
}