:root {
    --html-font-size: 62.5%;
    --body-font-size: 1.5em;
    --body-line-height: 1.6;
    --body-font-family: Arial, Helvetica, sans-serif;
    --mono-font-family: "Lucida Console", Monaco, monospace;
    --big-shit-size: 3.5rem;
}
