@import "normalize.css";
@import "colors.css";
@import "fontmetrics.css";
@import "element_metrics.css";

* {
    box-sizing: border-box;
}

/* common tags */
/*noinspection CssInvalidFunction*/

html {
    font-size: var(--html-font-size);
    background: var(--primary-bg-color) url(../img/body_bg.png);
}

body {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 16px 21px 0 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: var(--body-font-size) var(--body-font-family);
    color: var(--primary-fg-color);
}

section {
    margin-bottom: 8px;
}

section.mainSection {
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

hr {
    width: 95%;
    border: none;
    border-bottom: 1px solid var(--thin-border-highlite);
    border-top: 1px solid var(--thin-border-shadow);
}

/* Typography stuff */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

/* flex stuff */

.rowParent, .columnParent, .flexrow, .btnbar {
    display: flex;
}

.rowParent > div {
    margin: 0 4px;
}

.rowParent > :first-child {
    margin-left: 0;
}

.rowParent > :last-child {
    margin-right: 0;
}

.columnParent > :first-child {
    margin: 0 0 11px;
}

.columnParent > :last-child {
    margin-bottom: 0;
}

.flexrow {
    justify-content: space-between;
}

.columnParent {
    flex-direction: column;
}

.flexChild, .btnbar .btn {
    flex: 1;
    position: relative;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.flexzero {
    flex: 0 0 auto !important;
}

/* elements stuff */

.chartPanel, .maincontrols, .ticker {
    flex: 0 0 auto;
}

.chartPanel {
    width: 550px;
}

.assetInfo {
    width: 170px;
    padding-left: 13px;
}

.assetInfo > div {
    font-size: 1.2rem;
}

.maincontrols .sliderdiv {
    width: 285px;
}

.maincontrols .amountdiv {
    width: 120px;
}

.ticker {
    width: 80px;
    font: 15px var(--mono-font-family);
    font-weight: bold;
    user-select: none;
    cursor: default;
}

.ticker div {
    text-align: center;
    font-weight: normal;
}

.ticker .up {
    text-align: left;
    color: var(--ticker-up-color);
}

.ticker .down {
    text-align: right;
    color: var(--ticker-down-color);
}

.tickerscroller {
    height: 330px;
    overflow: hidden;
}

@keyframes tickerscroll {
    100% {
        transform: translateY(-100%);
    }
}

.maincontrols .btnbar > div {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.maininfo, .mainbtn {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.mainbtn {
    flex: 1 0 156px;
    justify-content: space-between;
    margin-left: 1px !important;
    max-width: 150px;
}

.maininfo {
    flex: 0 0 130px;
    justify-content: space-around;
    margin-left: 0;
    min-width: 134px;
}

.maininfo h5 {
    margin: 6px auto;
    font-size: 1.8rem;
}

.maininfo > div:last-child {
    margin-bottom: -3px;
}

.maininfo .smalluptext {
    margin: auto;
}

.panel {
    background: var(--section-bg-color) url(../img/grid_bg.png);
    border-radius: 3px;
    padding: 3px;
}

.panel-wo-bg {
    padding: 3px 0 4px;
}

.panel.ticker {
    padding: 10px 14px;
}

.bigRndBtnPanel {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 7px;
}

/* text stuff */

.bold {
    font-weight: bold;
}

.alignright {
    text-align: right
}

.flright {
    float: right;
}

.up, .down {
    text-transform: uppercase;
    font-weight: bold;
}

.up {
    color: var(--up-txt-color);
}

.down {
    color: var(--down-txt-color);
}

.smalluptext {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
}

.whitetxt {
    color: var(--white-txt-color);
    letter-spacing: 0.044rem;
}

h5.whitetxt {
    align-self: center;
    padding-left: 8px;
}

.goldie {
    display: flex;
    align-items: stretch;
    color: var(--goldie-color);
}

.goldie h1, h2 {
    letter-spacing: -0.2rem;
    margin: -1px 4px;
}

.goldie h1 {
    font-size: 5rem;
}

.goldie h2 {
    font-size: var(--big-shit-size);
    line-height: 1.5;
}

.info {
    display: inline-flex;
    flex-direction: column;
    text-transform: uppercase;
}

.goldie .info{
    font-size: 1rem;
    margin-top: 1.2rem;
    line-height: 1.5rem;
}

.goldie .info span:first-child{
    font-weight: bold;
    font-size: 1.8rem;
}

/* buttons stuff */

button {
    height: 33px;
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 0.4rem;
    color: var(--primary-fg-color);
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    border: 2px solid black;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

button:hover, button:active {
    color: var(--hovered-txt-color);
}

button:active {
    background: var(--btn-active-color);
}

.btn {
    display: inline-block;
    padding: 4px 3px 5px;
    text-transform: uppercase;
    background: var(--grey-btn-color);
    color: var(--grey-btn-txt-color);
    border: none;
    border-top: 1px solid transparent;
    border-radius: 3px;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.btnbar {
    position: relative;
    padding: 0;
    background: linear-gradient(var(--btnbar-grad-start) 10%, var(--btnbar-grad-end) 85%);
    border: none;
    border-top: 1px solid #44434A;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.9);
}

.btnbar.navbar {
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    box-shadow: 0 5px 5px #111;
}

.flexChild.btnbar.navbar {
    max-width: 364px;
    height: 33px;
}

.btnbar .btn {
    width: 100%;
}

.navbar .btn {
    min-width: 90px;
    height: 27px;
    margin-left: 1px;
    border: 2px solid transparent;
}

.navbar span:last-child {
    padding-right: 2px;
}

.btnbar .btn:hover {
    background: var(--btn-active-color);
    color: var(--hovered-txt-color);
}

.btnbar .btn:active, .btnbar .btn.active {
    background: linear-gradient(#514E58, #3C3A42 10%, #121113);
    color: var(--up-txt-color);
    box-shadow: none;
    border-color: #111;
}

.btn.active {
    cursor: default;
}

.btnbar > div {
    flex: 1 1 auto;
    border-right: 1px solid var(--thin-border-shadow);
    border-left: 1px solid var(--thin-border-highlite);
    margin: 0;
}

.btnbar > div:first-child {
    border-right: 1px solid var(--thin-border-shadow);
    border-left: none;
}

.btnbar > div:last-child {
    border-right: none;
    border-left: 1px solid var(--thin-border-highlite);
}

.btnbar > ul {
    border: none;
}

.btnbar > div.btn {
    border: none;
}

.bigbtn {
    height: 43px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px 0 13px;
    border: 3px solid black;
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 3.8rem;
    letter-spacing: 0.03rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.9);
}

.bigbtn.disabled {
    color: #666;
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    cursor: default;
    box-shadow: none;
}

.bigbtn:first-child {
    margin-bottom: 6px;
}

.bigbtn.disabled .fatarrow {
    display:none;
}

.bigbtn.up {
    color: #fff;
    background: linear-gradient(var(--up-btn-grad-start), var(--up-btn-grad-end));
    margin-bottom: 6px;
}

.bigbtn.up:hover {
    border: 3px solid rgba(94, 205, 36, 0.8);
    box-shadow: 0 0 3px 2px rgba(94, 205, 36, 0.7);
}

.bigbtn.down {
    color: #fff;
    background: linear-gradient(var(--down-btn-grad-start), var(--down-btn-grad-end));
}

.bigbtn.down:hover {
    border: 3px solid rgba(221, 39, 39, 0.8);
    box-shadow: 0 0 3px 2px rgba(221, 39, 39, 0.7);
}

.bigbtn.down .fatarrow {
    transform: rotate(180deg);
    transform-origin: 50% 57%;
}

.bigbtn:active {
    box-shadow: none;
}

.bigbtn.up:active {
    background: var(--up-btn-grad-end);
}

.bigbtn.down:active {
    background: var(--down-btn-grad-end);
}

.bigRndBtn {
    width: var(--bigrndbtn-size);
    height: var(--bigrndbtn-size);
    border-radius: 50%;
    background: linear-gradient(#17161A 20%, #343339 80%);
    align-self: center;
}

@custom-selector :--bigRndBtnInner .bigRndBtn > div;

:--bigRndBtnInner {
    position: relative;
    top: var(--bigrndbtn-first-div-position);
    left: var(--bigrndbtn-first-div-position);
    width: var(--bigrndbtn-first-div-size);
    height: var(--bigrndbtn-first-div-size);
    border-radius: 50%;
    background: linear-gradient(#4E4D50, #100F12 50%);
}

:--bigRndBtnInner > div {
    user-select: none;
}

:--bigRndBtnInner > div > div {
    position: absolute;
    top: var(--bigrndbtn-second-div-position);
    left: var(--bigrndbtn-second-div-position);
    width: var(--bigrndbtn-second-div-size);
    height: var(--bigrndbtn-second-div-size);
    border-radius: 50%;
    box-shadow: 0 2px 4px 5px rgba(10, 10, 10, 0.7);
    background: linear-gradient(var(--up-btn-grad-start), var(--up-btn-grad-end));
    cursor: default;
}

:--bigRndBtnInner > div > div.loss {
     background: linear-gradient(var(--down-btn-grad-start), var(--down-btn-grad-end));
 }

:--bigRndBtnInner > div > div.active {
     cursor: pointer;
 }

:--bigRndBtnInner > div > div.active:hover {
     box-shadow: 0 0 3px 2px rgba(94, 205, 36, 0.8);
 }

:--bigRndBtnInner > div > div.loss.active:hover {
     box-shadow: 0 0 3px 2px rgba(221, 39, 39, 0.8);
 }

:--bigRndBtnInner > div > div.active:active {
    background: #50830E;
}

:--bigRndBtnInner > div > div.loss.active:active {
    background: var(--down-btn-grad-end);
}

:--bigRndBtnInner > div > div > div {
    position: relative;
     top: var(--bigrndbtn-third-div-position);
     left: var(--bigrndbtn-third-div-position);
     width: var(--bigrndbtn-third-div-size);
     height: var(--bigrndbtn-third-div-size);
    border-radius: 50%;
    background: linear-gradient(#50830E, #5B9113);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

:--bigRndBtnInner > div > div.loss > div {
     background: linear-gradient(#dd2a00, #ff3000);
 }

@font-face {
    font-family: 'arialblack';
    src: local('Arial Black');
    font-weight: 900;
}

.bigRndBtn h6 {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin: auto;
    font-size: 1.55rem;
    text-align: center;
    margin: auto;
    font-family: arialblack, sans serif;
}

.bigRndBtn h6.blink {
    animation: blink 1s infinite;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.clockface {
    position: absolute;
    top: 0;
    left: 0;
    width: 112px;
    height: 112px;
}

.clockface b {
    position: absolute;
    height: var(--bigrndbtn-first-div-size);
    left: 62%;
    border-right: 1px solid #222;
}

.clockface b:nth-child(2) {
    transform: rotate(15deg);
}

.clockface b:nth-child(3) {
    transform: rotate(30deg);
}

.clockface b:nth-child(4) {
    transform: rotate(45deg);
}

.clockface b:nth-child(5) {
    transform: rotate(60deg);
}

.clockface b:nth-child(6) {
    transform: rotate(75deg);
}

.clockface b:nth-child(7) {
    transform: rotate(90deg);
}

.clockface b:nth-child(8) {
    transform: rotate(105deg);
}

.clockface b:nth-child(9) {
    transform: rotate(120deg);
}

.clockface b:nth-child(10) {
    transform: rotate(135deg);
}

.clockface b:nth-child(11) {
    transform: rotate(150deg);
}

.clockface b:nth-child(12) {
    transform: rotate(165deg);
}

.clockface b:nth-child(13) {
    transform: rotate(180deg);
}

.submenu {
    position: absolute;
    list-style: none;
    padding: 0;
    width: 86px;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    background-color: #2B2A2F;
    border: 2px solid transparent;
    border-radius: 0 0 3px 3px;
    top: 16px;
    z-index: 1;
    box-shadow: 0 3px 2px #111;
    left: -9999px;
}

.btn:hover + ul.submenu, ul.submenu:hover {
    left: 3px;
}

.submenu li {
    padding: 2px 13px 5px 0;
    border-top: 1px solid #3B3A3F;
    border-bottom: 1px solid #17161A;
    cursor: pointer;
    text-shadow: 0 2px 2px #111;
    transition: color 200ms;
}

.submenu li:hover {
    color: var(--hovered-txt-color);
}

.smallbtn {
    min-width: 40px;
    margin: auto 2px;
    color: var(--primary-fg-color);
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    border: 3px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.1rem;
    user-select: none;
    cursor: pointer;
}

.smallbtn:hover {
    color: var(--hovered-txt-color);
}

.smallbtn:active, .smallbtn.active {
    border: 3px solid black !important;
    cursor: default;
    background-color: #232227;
}

.sliderpath {
    position: relative;
    height: 25px;
    border-radius: 3px;
    padding: 7px 0;
    background: linear-gradient(rgb(25, 25, 28), rgb(43, 42, 47));
    font-size: 1.0rem;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.sliderpath span {
    display: inline-block;
    margin: auto 3px;
    width: 23px;
    height: 25px;
    text-align: center;
    letter-spacing: -1px;
    cursor: pointer;
    text-shadow: 0 1px 2px #000;
    transition: color 200ms;
    line-height: 0.7;
}

.sliderpath span.active {
    color: #9FE108;
    cursor: default;
}

.sliderpath span:not(.active):hover {
    color: var(--hovered-txt-color);
}

.sliderthumb {
    position: absolute;
    top: -15px;
    width: 35px;
    height: 51px;
    background: url(../img/sliderthumb1.png) no-repeat;
    transition: left 300ms;
}

.sliderthumb > div {
    position: absolute;
    width: 28px;
    height: 24px;
    background: linear-gradient(rgba(145, 232, 66, 0) 15%, rgba(85, 135, 40, 0.91));
    top: 15px;
    left: 4px;
    box-shadow: 0 1px 3px #111 inset;
}

/* leds and lights stuff */

.led {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 9px;
    background: grey radial-gradient(at center bottom, #333, #666);
    transition: box-shadow 300ms;
}

.led.active {
    box-shadow: #AFFA64 0 0 3px 1px;
    background: #5CC525 url(../img/activeled.png) no-repeat -3px -4px;
}

.led.alert {
    box-shadow: #dd2a00 0 0 5px 3px;
    background: #dd2a00 radial-gradient(at center bottom, #dd2a00, #ff920f);
}

/* Form stuff */

.formrow {
    margin: 10px auto;
    display: flex;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 11px;
    user-select: none;
    text-shadow: 0 1px 2px #000;
    letter-spacing: -0.02rem;
}

form label {
    min-width: 60px;
    display: inline-block;
    text-align: right;
}

form select {
    min-width: 100px;
}

.formbuttons {
    text-align: right;
    margin-top: 20px;
}

.formbuttons button {
    margin-left: 5px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=email],
select {
    font-family: var(--body-font-family);
    font-size: 1.2rem;
    font-weight: bold;
    color: #4F4F4F;
    height: 30px;
    border-radius: 4px;
    background-color: #D3D3D3;
    box-shadow: 0 1px 3px 1px #666 inset;
    border: none;
    padding: 5px 9px 2px;
    outline: none;
    max-width: 100px;
}

input[type=text] {
    width: 83px;
}

input:focus, select:focus {
    outline: none;
    border:none;
}

.inputgroup {
    position: relative;
    height: 36px;
    min-width: 158px;
    border-radius: 3px;
    padding: 3px 3px 3px 9px;
    background: linear-gradient(#131215, #2A292E);
}

input.amount {
    width: 50px;
    display: none;
    position: absolute;
    left: 76px;
    box-shadow: none;
    height: 22px;
    margin: 4px auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

option {
    margin: 2px auto;
}

/* radiogroup */

.btnbar ul.radiogroup {
    list-style-type: none;
    padding: 2px 0;
    margin: 0;
}

.radiogroup li {
    display: inline-block;
    min-width: 42px;
    position: relative;
    text-align: center;
    line-height: 27px;
}

.radiogroup input[type="radio"] {
    position: absolute;
    top: -1000px;
}

@custom-selector :--radiogroupLabel .radiogroup label;

:--radiogroupLabel {
    min-height: 31px;
    display: block;
    padding: 0 5px;
    margin: auto 2px;
    color: var(--primary-fg-color);
    background: linear-gradient(#514E58, #3C3A42 10%, #121113);
    border: 2px solid #131216;
    border-bottom-width: 4px;
    border-radius: 4px;
    font-size: 1.0rem;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 2px 2px #111;
}

:--radiogroupLabel.active {
    background: #232227;
    color: #8AC737;
    /*text-shadow: 0 0 4px var(--up-txt-color);*/
    border: 2px solid #131216 !important;
    cursor: default;
    box-shadow: none;
    text-shadow: none;
}

:--radiogroupLabel:not(.active):hover {
    color: var(--hovered-txt-color);
}

:--radiogroupLabel.iconCandleChart {
    background: url('../img/charticons.png') no-repeat 6px 4px;
}

:--radiogroupLabel.iconCandleChart:not(.active):hover {
    background: url('../img/charticons.png') no-repeat 6px -23px;
}

:--radiogroupLabel.iconCandleChart.active {
    background: #232227 url('../img/charticons.png') no-repeat 6px -23px;
}

:--radiogroupLabel.iconOhlcChart {
    background: url('../img/charticons.png') no-repeat -34px 4px;
}

:--radiogroupLabel.iconOhlcChart:not(.active):hover {
    background: url('../img/charticons.png') no-repeat -34px -23px;
}

:--radiogroupLabel.iconOhlcChart.active {
    background: #232227 url('../img/charticons.png') no-repeat -34px -23px;
}

:--radiogroupLabel.iconSplineChart {
    background: url('../img/charticons.png') no-repeat -79px 4px;
}

:--radiogroupLabel.iconSplineChart:not(.active):hover {
    background: url('../img/charticons.png') no-repeat -79px -23px;
}

:--radiogroupLabel.iconSplineChart.active {
    background: #232227 url('../img/charticons.png') no-repeat -79px -23px;
}

:--radiogroupLabel.iconZoom {
     background: url('../img/charticons.png') no-repeat -116px 4px;
}

:--radiogroupLabel.iconZoom:hover {
     background: url('../img/charticons.png') no-repeat -116px -23px;
}

:--radiogroupLabel.iconZoom:active {
     background: #232227 url('../img/charticons.png') no-repeat -116px -23px;
}

:--radiogroupLabel.iconFx {
     background: url('../img/charticons.png') no-repeat -151px 4px;
}

:--radiogroupLabel.iconFx:hover {
     background: url('../img/charticons.png') no-repeat -151px -23px;
}

:--radiogroupLabel.iconFx:active {
     background: #232227 url('../img/charticons.png') no-repeat -151px -23px;
}

:--radiogroupLabel.tradingStation {
    width: 60px;
     background: url(../img/trading_station.png) no-repeat 8px 2px;
 }


/* table stuff */

table {
    border-collapse: initial;
    border-spacing: 0 1px;
    width: 100%;
    margin-top: 2px;
}

thead {
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    text-transform: uppercase;
    font-size: 1.0rem;
    text-shadow: 0 0 2px #000;
    user-select: none;
    cursor: default;
}

th {
    border: 1px solid var(--grey-btn-color);
    height: 34px;
}

th:first-child {
    border-left-color: transparent;
}

th:last-child {
    border-right-color: transparent;
}

tbody {
    background-color: var(--tbody-bg-color);
    text-align: center;
    font-size: 1.3rem;
}

tbody tr {
    height: 34px;
}

tbody tr.yellowrow {
    color: var(--goldie-color);
}

td {
    border-top: 1px solid var(--thin-border-highlite);
    border-bottom: 1px solid var(--thin-border-shadow);
}

table button {
    display: inline-block;
    padding: 8px 3px;
    max-height: 25px;
    min-width: 40px;
    margin: auto 2px;
}

table button.active {
    color: var(--hovered-txt-color);
    background: #232227;
    cursor: default;
}

table button:hover {
    color: var(--hovered-txt-color);
}

.griddle-previous, .griddle-next, .griddle-page {
    width: 33%;
    float: left;
    min-height: 1px;
    padding: 3px;
}

.griddle-previous {
    text-align: left;
}

.griddle-page {
    width: 34%;
    text-align: center;
}

.griddle-next {
    text-align: right;
}

.griddle-page select {
    color: var(--primary-fg-color);
    background: transparent;
    padding: 4px;
    line-height: 1;
    border: 1px solid;
    border-radius: 0;
    height: 23px;
}

.griddle-nodata {
    text-align: center;
    margin: 5px auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 1px 2px #000;
}

/*fixed width for profit/loss in the trades table*/

.fw1, .fw2 {
    display: inline-block;
    margin-right: 5px;
}

.fw1 {
    min-width: 80px;
}

/* icons & stuff */

.loader {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader > div {
    content: " ";
    width: 15px;
    height: 15px;
    background: var(--primary-bg-color);
    border-radius: 100%;
    position: absolute;
    animation: shift 2s linear infinite;
}

.loader > div:nth-of-type(1) {
    animation-delay: -.4s;
}

.loader > div:nth-of-type(2) {
    animation-delay: -.8s;
}

.loader > div:nth-of-type(3) {
    animation-delay: -1.2s;
}

.loader > div:nth-of-type(4) {
    animation-delay: -1.6s;
}

@keyframes shift {
    0% {
        left: -60px;
        opacity: 0;
        background-color: var(--up-btn-grad-start);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100px;
        opacity: 1;
    }
    100% {
        left: 160px;
        background-color: var(--up-btn-grad-end);
        opacity: 0;
    }
}

.loader-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.loader-leave.loader-leave-active {
    opacity: 0.01;
}

.clock {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: auto 5px auto 0;
    background: url(../img/clockface.png) no-repeat;
}

.clocktxt {
    font-size: 3rem !important;
    font-weight: 300;
    color: #fff;
    letter-spacing: normal;
    line-height: 1.5;
}

.fatarrow {
    display: inline-block;
    width: 19px;
    height: 18px;
    float: right;
    margin: 8px auto;
    background: url(../img/fatarrow.png) no-repeat;
}

/* chart */
.mainChart {
    flex: 1 0 auto;
}

/* adjustments */

.v320 {
    padding-bottom: 8px;
}

.p-t-9 {
    padding-top: 9px;
}

.relpos {
    position: relative;
}

.longjohns {
    font-weight: 300;
    transform: scaleY(1.5);
    margin: 6px auto !important;
}

.nobold {
    font-family: arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.4rem;
}

/* user panel stuff */

.userPanel {
    margin-bottom: 7px;
}

.userPanel .btnbar {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.userPanel .btnbar > div {
    flex: 0 1 auto;
    /*height: 35px;*/
    text-align: right;
    background-color: #000;
    border-radius: 4px;
    margin: 2px 3px;
    padding: 2px 3px;
}

.userPanel .btnbar > span {
    display: flex;
    height: 39px;
}

.userPanel input {
    width: 100px;
    margin-right: 4px;
    vertical-align: bottom;
}

.userPanel dt {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 2px;
    background-color: #000;
    padding: 13px 9px;
    border-radius: 4px;
}

.userPanel .btn {
    width: 84px;
    height: 30px;
    background: linear-gradient(#514E58, #3C3A42 10%, #121113);
}

.userPanel .btn:hover {
    background: linear-gradient(#514E58, #3C3A42 10%, #121113);
}

.userPanel .btn:active {
    background: var(--btn-active-color);
}

.btn.redhover {
    margin-left: 8px;
}

.btn.redhover:hover, .btn.redhover:active {
    color: var(--down-txt-color);
}

time {
    color: #fff;
    font-size: 1.2rem;
}


/* modal stuff */

.modal {
    padding: 20px;
    background: var(--primary-bg-color) url(../img/body_bg.png);
    position: absolute;
    z-index: 1;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(1.1);
    transition: all 300ms;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(1.1);
}

.overlay {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 9999;
}

.eeValDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    margin: 10px auto 20px;
}

.eeValSpan:nth-child(1) {
    flex: 0 1 auto;
}

.eeValSpan:nth-child(2) {
    flex: 0 1 auto;
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: -0.2rem;
    margin: 0 1px;
}

.eeValSpan:nth-child(3) {
    flex: 0 1 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    font-size: 1.2rem;
    align-items: flex-start;
    font-family: arial;
}

.notification {
    position: fixed;
    width: 940px;
    height: 60px;
    top: -60px;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    transition: top 300ms;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

.notification.active {
    top: 0;
}

#waitasec {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}